<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.azki.widget3"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        
        <receiver
            android:name="org.azki.widget3.EmptyWidgetProvider"
            android:label="빈 위젯(4x4)"
            android:icon="@drawable/ic_launcher"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetproviderinfo" />
        </receiver>
        
    </application>

</manifest>